*{
    padding: 0;
    margin: 0;
}
.header{
    padding-top: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.header__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 1440px;
    margin-bottom: 74px;
}
.info__links{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-self: center;
}
.links__link{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #272f3a;
    text-decoration: none;
}
.header__title{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 120%;
    text-align: center;
    color: #002b6b;
    margin-bottom: 16px;

}
.header__subtitle{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #414d60;
    margin-bottom: 69px;

}
.header__photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    gap: 20px;
    margin-bottom: 86px;
}
.content{
    background-image: linear-gradient(180deg, #fff, #f3f2f2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.content__title{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    text-align: center;
    color: #1e242c;
    margin-bottom: 16px;
}
.content__subtitle{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #414d60;
    margin-bottom: 92px;
}
.content__line{
    width: 86%;
    max-width: 1240px;
}
.content__blocks{
    display: flex;
    margin-top: 95px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1340px;
    margin-bottom: 100px;
    gap: 24px;
}
.blocks__block{
    width: 292px;
    height: 206px;
    background: #fff;
    border: 1px solid #edeef0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.info__burg-button{
    display: none;
}
@media screen and (max-width: 830px){
    .info__links{
        display: none;
    }
    .info__burg-button{
        min-width: 50px;

        display: block;
        cursor: pointer;
    }
    .links__link{
        font-family: sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #272f3a;
    }
}
@media screen and (max-width: 530px){
    .header__title{
        font-family: sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 120%;
        text-align: center;
        color: #002b6b;
        margin-bottom: 16px;
    }
}

.photos__dave{
    border-radius: 20px;
    width: 270px;
    height: 282px;
}
.info__burger-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    justify-content: flex-start;
}
.hidden{
    display: none;
}
.blocks__block:hover{
    width: 292px;
    height: 206px;
    background: #fff;
    border: 1px solid #8ab9ff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 10px 25px 100px 0 rgba(0, 43, 107, 0.25);
    background: #e6f0ff;
}
.block__image{
    margin-top: 21px;
}
.block__title{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #1e242c;
}
.block__subtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #475569;
    margin-bottom: 21px;
}
.block__text{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #000;
}
@media screen and (max-width: 830px) {
    .info__empty-block{
        display: none;
    }
}