*{
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 107px;
    margin-top: 17.2%;
}
.info{
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 343px;
    justify-content: center;
    align-items: flex-start;
}
.info__header {
    font-family: "Golos", sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: #222;
    position: absolute;
    left: -90px;
    top: -106px;
    
}
.pass{
    margin-top: 16px;
    margin-bottom: 32px;
}
.pass__header {
    font-family: "Golos", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #222;

}
.email__header{
    font-family: "Golos", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #222;
}
.email__email-hint {
    font-family: "Golos", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: #808080;
}
.pass__field {
    font-family: "Golos", sans-serif;
    border-radius: 10px;
    padding: 13px 12px;
    width: 343px;
    border: none;

    background: #f2f3f5;
}
.field-container{
    position: relative;
}
.field-container__img{
    position: absolute;
    right: 7px;
    bottom: 7px;
}
.email__field{
    font-family: "Golos", sans-serif;
    border-radius: 10px;
    padding: 13px 12px;
    width: 343px;
    border: none;

    background: #f2f3f5;
}

.email__field:focus-visible{
    outline: none;


}

.form__submit-button{
    font-family: "Golos", sans-serif;
    border-radius: 10px;
    padding: 0px 16px;
    width: 343px;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    background: #222;
    font-weight: 500;
    border: none;
    font-size: 16px;
    color: #fff;
}
.main-container__info{
    border-right: 1px solid rgba(34, 34, 34, 0.05);
}