*{
    margin: 0;
}
.profile-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;

}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-width:  72px;
    padding-top: 40px;
}
.profile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.profile__name{
    font-family: "Golos", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #222;
    margin-top: 20px;
}
.profile__info{
    font-family: "Golos", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #222;
    max-width: 361px;
    margin-bottom: 12px;
}
.main-container__info{
    border-right: 1px solid rgba(34, 34, 34, 0.05);
}
.photos{
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.photos__photo{
    width: 322px;
    height: 322px;
}